body{
    background-color: rgb(255, 204, 102);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;;
}

h1{
    margin:0;
    background-color: rgb(235, 116, 48);
    text-align: center;
    font-size: 3em;
}

img{
    display: block;
    height: auto;
    max-width: 40%;
    margin:1em auto;
}

section{
    text-align: center;
}

.sm {
    text-align: left;
}

h3{
    padding-left: 1.4em;
}

footer{
    background-color: rgb(238, 152, 73)
}

footer p{
    margin:0;
    text-align: center;
}